<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Express</title>
    <link href="./css/styles.css" rel="stylesheet"/>
</head>
{{>header}}
        <h1>{{title}}</h1>
        <p>This site is created by Tuan Anh Ha.</p>
        <img src="../img/pig.jpg" alt="Pig">
{{>footer}}
</body>
</html>
